.content{
    display:flex;
    justify-content: space-around;
}
.settings{
   width:45%;
   align-items: center;
   display: flex;
   justify-content: center;
}
.banner{
    width:55%;
    align-items: center;
    display: flex;
}
.settingsselect{
    display:block;
    flex-direction: column;
    margin-top:20px;
}

@media (max-width:800px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .settings{
        width:100%;
    }
    .banner{
        width:100%;
        padding-top:20px;
    }
}
.settingsselect{
    display: flex;
    flex-direction: column-reverse;
}